//Grand Central Station AKA the TRAP 
@import "normalize";
@import "google-homepage";



/* Styling */
body {
    background: #fffff;
    
}





//stage (parent)
#stage {
    background: #fff;
    position: relative;
    overflow: hidden;
}

//child 
#stage svg {
    width: 85%;
    height: 85%;
    position: absolute;
    bottom: 10px; 
    right:  400px;
    left: 0; 
}

#stage h1 {
    position: absolute;
    bottom: 0; 
    left: 200px;
    margin: 0;
} 

//Animations go here 
//first frame of animation
#stage:hover h1,
#stage:hover svg {
    opacity: 0;
    transition: opacity 2.5s;
}


//lastframe

#stage:hover h1,
#stage:hover svg {
    opacity: 1;
   
}